{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="tb-bg-topo-cotton tw-border-y-2 tw-border-camel md:tw-px-4">
  <div class="tw-mx-auto tw-max-w-screen-xl tw-py-10">
    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4 md:tw-gap-8 lg:tw-gap-10 tw-items-center">
      <div class="tw-px-4 md:tw-pl-10 lg:tw-pl-20">
        <div class="md:tw-mb-2 tw-text-sm md:tw-text-base tw-font-medium tw-uppercase tw-text-battleship">
          Universal design
        </div>

        <h2 class="tw-text-3xl sm:tw-text-4xl md:tw-text-5xl lg:tw-text-5.5xl">
          install on
          <br class="tw-hidden md:tw-inline">
          any vehicle
        </h2>

        <div class="tw-flex ">
          <a
            href="/pages/compare-roof-tent-models"
            class="tw-inline-flex tw-items-center hover:tw-underline tw-underline-offset-4 tw-font-medium md:tw-mt-5 tw-text-lg "
            target="_self"
            data-tracking="cta-image-grid-link_Compare-models"
          >
            <div>Compare models</div>
            <div class="tw-h-4 tw-w-4 tw-ml-1.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
              </svg>
            </div>
          </a>
        </div>
      </div>
      <div class="tw-flex tw-overflow-x-scroll tw-pb-3 tw-px-4 md:tw-px-0 md:tw-overflow-hidden md:tw-pb-0 md:tw-grid md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-3 lg:tw-gap-4 tw-order-first md:tw-order-last [&amp;>*:nth-child(5)]:md:tw-hidden [&amp;>*:nth-child(6)]:md:tw-hidden [&amp;>*:nth-child(5)]:lg:tw-block [&amp;>*:nth-child(6)]:lg:tw-block tb-hide-scroll">
        <img
          src="//tentbox.com/cdn/shop/files/home-cta-image-grid-1.jpg?v=1674228672&amp;width=234"
          alt="A mountain biker camping with his  TentBox Lite 1.0 Orange Edition on a white hatchback"
          srcset="//tentbox.com/cdn/shop/files/home-cta-image-grid-1.jpg?v=1674228672&amp;width=160 160w, //tentbox.com/cdn/shop/files/home-cta-image-grid-1.jpg?v=1674228672&amp;width=234 234w, //tentbox.com/cdn/shop/files/home-cta-image-grid-1.jpg?v=1674228672&amp;width=196 196w"
          width="234"
          height="234"
          loading="lazy"
          sizes="(max-width: 767px) 160px, (max-width: 1023px) 234px, 196px"
          class="tw-rounded-lg tw-object-cover tw-aspect-square"
        >
        <img
          src="//tentbox.com/cdn/shop/files/home-cta-image-grid-3.jpg?v=1674228701&amp;width=234"
          alt="A TentBox Classic 1.0 installed on a Black SUV parked in a field"
          srcset="//tentbox.com/cdn/shop/files/home-cta-image-grid-3.jpg?v=1674228701&amp;width=160 160w, //tentbox.com/cdn/shop/files/home-cta-image-grid-3.jpg?v=1674228701&amp;width=234 234w, //tentbox.com/cdn/shop/files/home-cta-image-grid-3.jpg?v=1674228701&amp;width=196 196w"
          width="234"
          height="234"
          loading="lazy"
          sizes="(max-width: 767px) 160px, (max-width: 1023px) 234px, 196px"
          class="tw-rounded-lg tw-object-cover tw-aspect-square"
        >
        <img
          src="//tentbox.com/cdn/shop/files/home-cta-image-grid-6.jpg?v=1674577516&amp;width=234"
          alt="A happy couple camping with their TentBox Cargo 1.0 mounted on a Land Rover Freelander 2"
          srcset="//tentbox.com/cdn/shop/files/home-cta-image-grid-6.jpg?v=1674577516&amp;width=160 160w, //tentbox.com/cdn/shop/files/home-cta-image-grid-6.jpg?v=1674577516&amp;width=234 234w, //tentbox.com/cdn/shop/files/home-cta-image-grid-6.jpg?v=1674577516&amp;width=196 196w"
          width="234"
          height="234"
          loading="lazy"
          sizes="(max-width: 767px) 160px, (max-width: 1023px) 234px, 196px"
          class="tw-rounded-lg tw-object-cover tw-aspect-square"
        >
        <img
          src="//tentbox.com/cdn/shop/files/home-cta-image-grid-5.jpg?v=1674228745&amp;width=234"
          alt="A camper in the Lake District opening his TentBox Cargo 1.0 roof tent that is installed on a Volkswagen Transporter"
          srcset="//tentbox.com/cdn/shop/files/home-cta-image-grid-5.jpg?v=1674228745&amp;width=160 160w, //tentbox.com/cdn/shop/files/home-cta-image-grid-5.jpg?v=1674228745&amp;width=234 234w, //tentbox.com/cdn/shop/files/home-cta-image-grid-5.jpg?v=1674228745&amp;width=196 196w"
          width="234"
          height="234"
          loading="lazy"
          sizes="(max-width: 767px) 160px, (max-width: 1023px) 234px, 196px"
          class="tw-rounded-lg tw-object-cover tw-aspect-square"
        >
        <img
          src="//tentbox.com/cdn/shop/files/home-cta-image-grid-2.jpg?v=1674578089&amp;width=234"
          alt="A woman carrying a canoe next to her TentBox Lite 1.0 Orange Edition which is mounted to a small hatchback car"
          srcset="//tentbox.com/cdn/shop/files/home-cta-image-grid-2.jpg?v=1674578089&amp;width=160 160w, //tentbox.com/cdn/shop/files/home-cta-image-grid-2.jpg?v=1674578089&amp;width=234 234w, //tentbox.com/cdn/shop/files/home-cta-image-grid-2.jpg?v=1674578089&amp;width=196 196w"
          width="234"
          height="234"
          loading="lazy"
          sizes="(max-width: 767px) 160px, (max-width: 1023px) 234px, 196px"
          class="tw-rounded-lg tw-object-cover tw-aspect-square"
        >
        <img
          src="//tentbox.com/cdn/shop/files/home-cta-image-grid-4.jpg?v=1674228761&amp;width=234"
          alt="A woman camping with her TentBox Classic 1.0 and Side Awning"
          srcset="//tentbox.com/cdn/shop/files/home-cta-image-grid-4.jpg?v=1674228761&amp;width=160 160w, //tentbox.com/cdn/shop/files/home-cta-image-grid-4.jpg?v=1674228761&amp;width=234 234w, //tentbox.com/cdn/shop/files/home-cta-image-grid-4.jpg?v=1674228761&amp;width=196 196w"
          width="234"
          height="234"
          loading="lazy"
          sizes="(max-width: 767px) 160px, (max-width: 1023px) 234px, 196px"
          class="tw-rounded-lg tw-object-cover tw-aspect-square"
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tailwind",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Tailwind",
      "settings": {}
    }
  ]
}
{% endschema %}
